html
    overflow: scroll
    overflow-x: hidden

::-webkit-scrollbar
    width: 0px
    background: transparent

a
  text-decoration: none
  &:hover
    text-decoration: underline
    p
      text-decoration: underline

.title, .subtitle
  font-weight: 300
  @include until($desktop)
    &.is-3
      font-size: 1.7em
    &.is-4
      font-size: 1.4em
    &.is-5
      font-size: 1.25em
.title
  font-weight: normal

body
  background: $grey-lighter
  background-attachment: fixed
  min-height: 100vh
  color: $grey-darker
  font-weight: 300

  @include until($desktop)
    font-size: 12px
    background: $blue
    color: $white
    a, .title, .subtitle
      color: $white
    .tag.quality
      background: $white
      color: $blue

.has-text-weight-normal
  font-weight: normal

.tag
  font-weight: normal
  border-radius: 1000px

.container
  position: inherit

.pointer
  cursor: pointer

.title
  color: $grey-darker
.subtitle
  color: $grey-darker

.label
  color: $white

.select select, .textarea, .input
  background: transparent
  border: none
  border-bottom: 1px solid #888686
  border-radius: 0
  color: $white
  &::-webkit-input-placeholder
    color: $grey-light
  &:-moz-placeholder
    color: $grey-light
  &::-moz-placeholder
    color: $grey-light
  &:-ms-input-placeholder
    color: $grey-light

progress.progress
  margin-top: 3px
  background: $darken
  &::-moz-progress-value
    background: $blue
  &::-moz-progress-bar
    background: $darken
  &::-webkit-progress-value
    background: $blue
    border-radius: none
  &::-webkit-progress-bar
    background: $darken

.has-no-vpadding
  padding-top: 0
  padding-bottom: 0

.modal
  color: $white
  &.is-small
    .modal-content, .modal-card
      width: 400px
  .box
    padding: 3rem
    background: $blue
  .title-icon
    margin-bottom: 1em
  .title
    color: $white
  .buttons
    margin-top: 1em
  .select select option
    color: $blue

.tag:not(body)
  background-color: $blue
  &.is-24
    background-color: $grey-dark

.feather
  width: 24px
  height: 24px
  stroke: $white
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round
  fill: none
  &.is-active
    stroke: $blue
  &.is-small
    height: 20px
    width: 20px

.columns
  &.albumart, &.artistart
    .column
      padding: 35px
      // @include until($desktop)
      //  padding: 1em .5em
    img
      border-radius: 7px
      @include until($desktop)
        background-color: rgba(255,255,255,0.1)
    .title
      margin-top: 10px
      font-weight: normal
    .title, .subtitle
      font-size: 1.1rem
  &.artistart
    img
      border-radius: 100%
    .title, .subtitle
      text-align: center

//this contains the left hand menu
aside.menu
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.15)
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.15)
  height: 100%
  background: $blue
  position: fixed
  top: 0
  left: 0
  width: 90px
  z-index: 2
  transition: width 250ms

  @include until($desktop)
    background: $white
    left: -90px
    transition: 250ms
    &.is-active
      transition: 250ms
      left: 0
    .feather
      stroke: $blue

  &:hover
    @include from($desktop)
      width: 180px
      .detail
        visibility: visible

  .image.menu-brand
    width: 55px
    height: auto
    margin: 40px auto
    svg
      width: 100%
      height: auto
      path
        @include until($desktop)
          fill: $blue
 
  .menu-label, .menu-list a
    color: #ffffff
    font-size: 110%
    letter-spacing: inherit
    text-transform: none
    
  .menu-list a
    display: inline-block
    width: 100%
    padding: .6em 0
    &:hover
      background: rgba(255,255,255,0.2)
      text-decoration: none

  .detail
    margin-top: 5px
    visibility: hidden

.navbar
  z-index: 1
  background-color: transparent
  transition: background-color 0.25s ease
  .navbar-menu
    display: block
    opacity: 0
    position: absolute
    left: 0
    right: 0
    transform: translateY(-50%)
    transition: all .4s ease-in-out
    pointer-events: none
  &.is-active
    background-color: #221F1F
    .navbar-menu
      opacity: 1
      transform: none
      pointer-events: auto
  display: none
  @include until($desktop)
    display: block
  .navbar-burger
    color: #ffffff
    width: 5rem
  .navbar-menu
    background-color: #221F1F
    .navbar-item, .navbar-link
      color: $white

.dropdown-content
  background-color: #696363
  .dropdown-item
    cursor: pointer
    &:hover
      background-color: #ffffff28

// this contains the right hand content pane
#content-container
  padding: 2.5em 1.5em calc(100px + .75em) calc(1.5em + 90px)
  @include until($desktop)
    padding: 24px 9px 100px 9px

  >.container.is-fluid
    @include until($desktop)
      padding-left: 10px
      padding-right: 10px

  .container:not(:first-child)
      margin-top: 25px

  .artist-info
    padding-bottom: 50px
    figure
      img
        border-radius: 100%

  .album-detail
    p.title
      @include until($desktop)
        margin-bottom: 0

  .is-reversed-touch
    @include until($desktop)
      display: flex
      flex-direction: column-reverse

  @include from($desktop)
    #home-album
      margin-top: 15px
      margin-bottom: 8px
    #home-title
      margin-bottom: 14px
    #home-artist
      margin-bottom: 11px
    #home-quality
      padding: 8px 12px
      border-radius: 1000px
      background-color: $blue
      color: $white
      font-size: 14px
      font-weight: 300
  @include until($desktop)
    #home-album
      margin-bottom: 8px
    #home-title
      margin-bottom: 14px
    #home-artist
      margin-bottom: 11px
    #home-quality
      padding: 5px 8px
      border-radius: 1000px
      background-color: $white
      color: $blue
      font-weight: normal
    #swipe-up-queue
      position: absolute
      padding: 8px 12px
      left: calc(50vw - 24px)
      bottom: 10px

  .albumart img
    border-radius: 7px
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
    

  table.table.songs
    tr
      td:first-child
        //border-top-left-radius: 4px
        //border-bottom-left-radius: 4px
        @include until($desktop)
          padding-right: 0.75em
      td:last-child
        //border-top-right-radius: 4px
        //border-bottom-right-radius: 4px
      &:hover
        td
          background: rgba(0, 0, 0, 0.08)
    td
      vertical-align: middle
      @include until($desktop)
        color: $white
        padding-left: 0
        padding-right: 0
      .dropdown button
        svg
          stroke: $grey-dark
        @include until($desktop)
          padding: 0
        border: none
        background: none

.has-no-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.has-no-overflow-touch
  @include until($desktop)
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  
#mobile-toolbar
  @media screen and (max-height: 600px)
    display: none

.mobile-controls
  display: flex
  align-items: center
  justify-content: center
  line-height: 0.8
  svg.feather
    margin: 0 25px
      stroke: $white
    &.is-small
      height: 17px
      width: 17px
  .button
    height: 48px
    min-width: 48px
    max-width: 48px
    padding: 0
    background: $white
    .feather
      margin: 0
      stroke: $blue
#mobile-progress
  background: $darken
  &::-moz-progress-value
    background: $white
  &::-moz-progress-bar
    background: $darken
  &::-webkit-progress-value
    background: $white
    border-radius: none
  &::-webkit-progress-bar
    background: $darken

#queue-list
  color: $grey-darker
  a
    color: $grey-darker
    text-decoration: underline
    &:hover
      color: $blue
  .columns
    border-bottom: 1px solid #E1E1E1
  .columns:last-child
    border-bottom: none
  .columns:hover
    background: $grey-light
  .column.is-fixed-size
    flex: none
    width: 13%
  .is-playing
    font-weight: normal
  @include until($desktop)
    position: fixed
    top: 100vh
    left: 0
    height: 100vh
    width: 100vw
    display: block
    background: $white
    color: $grey-darker
    transition: top 250ms ease 0s
    .title
      color: $white
      background: $blue
      margin: 0
      padding: 35px 25px
    .columns
      margin: 0
      padding: 0 10px
    .feather
      stroke: $grey-light
    .is-playing
      background: $grey-lighter
      .feather
        stroke: $blue
    &.is-active
        top: 0
        transition: top 250ms ease 0s

#setting-page
  .label
    color: inherit
  p.title
    border-bottom: 2px solid $blue
    &:not(:first-child)
      padding-top: 17px
      margin-top: 17px

// this contains the fixed-bottom play bar
#control-bar
  position: fixed
  height: 100px
  width: 100%
  bottom: 0
  background: $grey-light
  z-index: 3
  line-height: 1
  color: $grey-darker
  .title, .subtitle
    color: $grey-darker
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.15)
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15)
  @include until($desktop)
    height: 78px
    left: 0
    transition: left 250ms ease 0s
  // make all columns full height
  .columns
    height: 100%
  //round play button
  .play-button
    height: 48px
    min-width: 48px
    max-width: 48px
    background: $blue
    border-radius: 5000px
    display: inline-flex
    align-items: center
    .feather
      stroke: $white
    svg
      margin: 0 auto
  //icons
  .feather
    height: 20px
    width: 20px
    stroke: $grey-darker
  // currently playing song detail
  .now-playing
    @include from($desktop)
      width: 300px
    figure img
      height: 70px
      width: 70px
      border-radius: 4px
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
    .column:not(:first-child)
      padding-left: 0
    @include until($desktop)
      figure img
        height: 48px
        width: 48px
    .title
      max-height: 37px
      overflow: hidden
      text-overflow: ellipsis
  //prev,play,next
  .playing-controls
    display: flex
    align-items: center
  //progress bar
  .play-progress
    .column:first-child p
      margin-right: 10px
    .column:last-child p
      margin-left: 10px
  progress.progress
    margin-top: 3px
  //random, repeat
  .misc-controls
    svg
      margin: 0 5px
body.no-controls
  @include until($desktop)
    #content-container
      padding-bottom: 10px
    #control-bar
      left: 100vw
      transition: left 250ms ease 0s

#burger
  position: absolute
  top: 4px
  right: 8px
  .feather
    height: 32px
    width: 32px

#search-input-container
  position: absolute
  top: 20px
  right: 20px
  height: auto
  width: auto
  background: $grey-lighter
  border-radius: 4px
  &::before
    content: ''
    position: absolute
    right: 11px
    top: 0
    height: 100%
    width: 100%
    background-image: url('/img/search.svg')
    background-repeat: no-repeat
    background-position: right center
    background-size: 18px
  input
    z-index: 2
    position: relative
    right: 0
    top: 0
    width: 40px
    padding: 12px 15px
    color: transparent
    background: transparent
    max-width: none
    border: none
    transition: width 250ms ease 0s
    &:focus
      width: 150px
      transition: width 250ms ease 0s
      color: $grey