@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html
  font-size: 15px
  font-weight: normal
  color: $white
  background: $grey-darkest
  @include media("≤tablet")
    font-size: 13px

body
  font-family: 'Lexend Deca', sans-serif
  background-attachment: fixed
  min-height: 100vh
  &.no-controls
    @include media("≤tablet")
      #content-container
        padding-bottom: 10px
      #control-bar
        bottom: -100px
        transition: bottom 250ms ease-in-out
        //left: 100vw
        //transition: left 250ms ease 0s

a
  text-decoration: none
  &:hover
    text-decoration: underline
    p
      text-decoration: underline

h1, h2, h3, h4, h5, h6
  font-weight: normal!important

h1
  font-size: 1.8rem
  margin: 0.6rem 0 1.2rem

p, a
  font-weight: normal
  color: $white
  &.is-1
    font-size: 1.5rem
  &.is-2
    font-size: 1.4rem
  &.is-3
    font-size: 1.3rem
  &.is-4
    font-size: 1.2rem
  &.is-5
    font-size: 1.1rem
  &.is-6
    font-size: 1rem
  &.subtitle
    margin-top: -0.2rem
    font-weight: normal
    color: $grey-dark
    &.is-1
      font-size: 1.4rem
    &.is-2
      font-size: 1.3rem
    &.is-3
      font-size: 1.2rem
    &.is-4
      font-size: 1.1rem
    &.is-5
      font-size: 1rem
    &.is-6
      font-size: 0.8rem

p
  margin: 0.3rem 0 0.4rem 0

table
  width: 100%
  td.is-narrow
    width: 1%
    white-space: nowrap

figure
  img
    width: 100%
  &.is-40x40
    width: 44px
    height: 44px
    @include media("≤tablet")
      width: 40px
      height: 40px

.button
  border: none
  background: $grey
  &:focus
    outline: none
  &:hover
    filter: brightness(0.1)
  &.is-rounded
    border-radius: 1000px

.tag
  font-weight: normal
  border-radius: 1000px
  background-color: $blue
  color: $white
  display: inline-block
  padding: 7px 10px
  &.is-grey
    background-color: $grey


.has-text-centered
  text-align: center
.has-text-right
  text-align: right

.is-capitalized
  text-transform: capitalize

.has-margin-auto
  margin: auto

.pointer
  cursor: pointer

.label
  color: $white

.select select, .textarea, .input
  background: transparent
  border: none
  border-bottom: 1px solid #888686
  border-radius: 0
  color: $white
  &::-webkit-input-placeholder
    color: $grey-light
  &:-moz-placeholder
    color: $grey-light
  &::-moz-placeholder
    color: $grey-light
  &:-ms-input-placeholder
    color: $grey-light

.has-no-vpadding
  padding-top: 0
  padding-bottom: 0

.no-grow
  flex-grow: 0
.no-grow-xs
  @include media("<=tablet")
    flex-grow: 0

.has-margin-auto
  margin: auto

.modal
  color: $white
  &.is-small
    .modal-content, .modal-card
      width: 400px
  .box
    padding: 3rem
    background: $blue
  .title-icon
    margin-bottom: 1em
  .title
    color: $white
  .buttons
    margin-top: 1em
  .select select option
    color: $blue

.feather
  width: 24px
  height: 24px
  stroke: $white
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round
  fill: none
  &.is-active
    stroke: $blue
  &.is-small
    height: 20px
    width: 20px

.delete
  height: 18px
  width: 18px

.dropdown
  position: relative
  display: inline-block
  cursor: pointer
  &.is-right
    .dropdown-content
      right: 0
      left: auto
  .dropdown-content
    display: none
    position: absolute
    left: 8px
    top: 15px
    background-color: #696363
    min-width: 160px
    border-radius: 4px
    overflow: hidden
    z-index: 1
  &:hover
    .dropdown-content
      display: block
      span
        display: block
        padding: 12px 16px
        cursor: pointer
        &:hover
          background-color: #ffffff28

// this contains the right hand content pane
#content-container
  // padding: 2.5em 1.5em calc(100px + .75em) calc(1.5em + 90px)
  padding: 0 0 120px 90px
  @include media("≤tablet")
    // padding: 24px 9px 100px 90px
    padding: 0

  &.has-background
    padding-top: 27vh
    background-size: contain
    background-repeat: no-repeat

  .container-fluid
    max-width: 90vw
    padding: 40px 0
    &.max
      @include media("≥desktop")
        position: relative
        margin: 0
        padding: 0
        // width: 65vw
        margin-right: 450px
        .row
          padding-top: 20vh
        .row.art
          margin: 0 auto
      .background-container
        position: absolute
        width: 100%
        z-index: -1
        img
          object-fit: cover
          object-position: center
          height: 45vh

  .artist-info
    padding-bottom: 50px
    figure
      border-radius: 7px
      overflow: hidden
      &:after
        content: ''
        background-image: linear-gradient(transparent, #2A2A2ADD)
        height: 40px
        position: absolute
        bottom: 0
        left: 0
        width: 100%

  .album-detail
    p.title
      @include media("≤tablet")
        margin-bottom: 0

  .is-reversed-touch
    @include media("≤tablet")
      display: flex
      flex-direction: column-reverse

  //#home-quality
    //padding: 7px 10px
    //border-radius: 1000px
    //background-color: $blue
    //color: $white
    //font-size: 0.9rem
    //&.is-grey
    //  background-color: $grey
  #swipe-up-queue
    position: absolute
    padding: 8px 12px
    left: 0
    width: 100%
    text-align: center
    bottom: 10px

table.table.songs
  tr
    td:first-child
      @include media("≤tablet")
        padding-right: 0.75em
    &:hover
      td
        background: rgba(0, 0, 0, 0.08)
  td
    vertical-align: middle
    @include media("≤tablet")
      color: $white
      padding-left: 0
      padding-right: 0
    .dropdown button
      vertical-align: middle
      border: none
      background: none
      svg
        stroke: $grey-dark
        @include media("≤tablet")
          stroke: $white
      @include media("≤tablet")
        padding: 0
  span.artist
    display: block
    color: $grey-dark

.art-container
  .col-lg-2
    padding: 27px
    @include media("≤tablet")
      padding: 1em .5em

.art
  figure
    background-color: rgba(255,255,255,0.1)
    overflow: hidden
    border-radius: 7px
    position: relative
    overflow: hidden
    padding-bottom: 100%
    img
      position: absolute
      width: 100%
      left: 0
      top: 0
  a:first-child
    p
      margin-top: 6px

#mobile-toolbar
  @media screen and (max-height: 600px)
    display: none

body.no-controls #queue-list
  right: 0
#queue-list
  color: $grey-light
  position: fixed
  top: 0
  height: 100vh
  width: 450px
  right: -450px
  transition: right 0.3s ease-in-out
  display: block
  background: $grey-darker
  color: $grey-light
  padding: 20px 30px 100px 30px
  overflow-y: scroll
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none
  &.is-active
    right: 0
  h1
    padding: 10px 0 20px 0
  a
    color: $grey-light
    text-decoration: underline
    &:hover
      color: $blue
  .is-playing
    figure
      position: relative
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: rgba(0,0,0,0.5)
      &:after
        content: ''
        position: absolute
        top: 14px
        left: 14px
        width: 0
        height: 0
        border-top: 9px solid transparent
        border-bottom: 9px solid transparent
        border-left: 12px solid $grey-light
  span
    display: block
  table
    width: 100%
  td
    cursor: pointer
    vertical-align: middle
    padding: 8px 0
    &:first-child
      width: 44px
      @include media("≤tablet")
        width: 40px
      padding-right: 8px
    &:last-child
      width: 20px

  @include media("≤tablet")
    position: fixed
    top: 100vh
    left: 0
    height: 100vh
    width: 100vw
    padding: 30px 20px 20px 20px
    transition: top 250ms ease 0s
    z-index: 1
    padding-top: 20px
    .queue-header
      position: absolute
      left: 0
      top: 0
      width: 100%
      background: $grey-darker
      padding: 16px
    &.is-active
        top: 0
        transition: top 250ms ease 0s

#setting-page
  .label
    color: inherit
  p.title
    border-bottom: 2px solid $blue
    &:not(:first-child)
      padding-top: 17px
      margin-top: 17px

#burger
  position: absolute
  top: 4px
  left: 8px
  .feather
    height: 32px
    width: 32px

#search-input-container
  position: absolute
  top: 20px
  right: 20px
  height: auto
  width: auto
  background: #191919
  border-radius: 4px
  &::before
    content: ''
    position: absolute
    right: 11px
    top: 0
    height: 100%
    width: 100%
    background-image: url('/img/search.svg')
    background-repeat: no-repeat
    background-position: right center
    background-size: 18px
  input
    z-index: 2
    position: relative
    right: 0
    top: 0
    width: 40px
    padding: 12px 15px
    color: transparent
    background: transparent
    max-width: none
    border: none
    transition: width 250ms ease 0s
    &:focus
      width: 150px
      transition: width 250ms ease 0s
      color: $grey-light
      outline: none

#disconnect-message
  position: absolute
  top: -100vh
  left: 0
  height: 100vh
  width: 100vw
  // top: 0
  left: 0
  background: $blue
  z-index: 1000
  display: flex
  align-items: center
  transition: top 0.3s ease-in-out
  div
    margin-left: auto
    margin-right: auto
  &.show
    top: 0
    transition: top 0.3s ease